@using System.Text.Json
@using System.Text.Json.Serialization
@model travel_app.Models.Stage

@{
    ViewData["Title"] = "Dettagli Tappa";

    var options = new JsonSerializerOptions
            {
                ReferenceHandler = ReferenceHandler.Preserve
            };

    var jsModel = JsonSerializer.Serialize(Model, options);
}


<!--Card-->
<div class="card">
    <div class="card-header">
        <h2>@Html.DisplayFor(model => model.Title)</h2>
    </div>
    <!--Card body -->
    <div class="card-body">
        <div class="row">
            <!--info-->
            <div class="col-6">
                <div class="row">
                    <!--immagine-->
                    <div class="row">
                        <div class="fw-bold">
                            @Html.DisplayNameFor(model => model.Image):
                        </div>
                        <div>

                            <img src="@Url.Content($"~/uploads/stages/{Model.Image}")" alt="Immagine dello stage" class="img-fluid" />
                        </div>
                    </div>
                    <!--Data-->
                    <div class="d-flex pt-3"> 
                        <div class="col-2 fw-bold me-2">
                            @Html.DisplayNameFor(model => model.Date):
                        </div>
                        <div class="col-6">
                            @Html.DisplayFor(model => model.Date)
                        </div>   
                    </div>
                    <!--Cordinate-->
                    <div class="d-flex pt-3">
                        <!--Latitudine-->
                        <div class="col-4 d-flex ">
                            <div class="fw-bold me-2">
                                @Html.DisplayNameFor(model => model.Latitude):
                            </div>
                            <div>
                                @Html.DisplayFor(model => model.Latitude)
                            </div>
                        </div>
                        <!--Longitudine-->
                        <div class="col-4 d-flex">
                            <div class="fw-bold me-2">
                                @Html.DisplayNameFor(model => model.Longitude):
                            </div>
                            <div>
                                @Html.DisplayFor(model => model.Longitude)
                            </div>
                        </div>
                    </div>
                    <!--Descrizione-->
                    <div class="row">
                        <div class="fw-bold">
                            @Html.DisplayNameFor(model => model.Description):
                        </div>
                        <div>
                            @Html.DisplayFor(model => model.Description)
                        </div>
                    </div>
                    <!--Nota-->
                    <div class="row">
                        <div class="fw-bold">
                            @Html.DisplayNameFor(model => model.Note):
                        </div>
                        <div>
                            @Html.DisplayFor(model => model.Note)
                        </div>
                    </div>
                    <!--Visistato-->
                    <div class="row">
                        <div class="fw-bold">
                            @Html.DisplayNameFor(model => model.Completed):
                        </div>
                        <div>
                            <!--Controllo:
                                     Se - la tappa non è stata visitata, viene stampato un messaggio
                                 -->
                            @if (@Model.Completed == false)
                            {
                                <p class="text-danger">Non Completata</p>
                            }
                            else
                            {
                                <p class="text-success">Completata</p>
                            }
                        </div>
                    </div>
                    <!--Voto-->
                    <div class="row">
                        <div class="fw-bold">
                            @Html.DisplayNameFor(model => model.Vote):
                        </div>
                        <div>
                            <!--COnvertire il numero del voto in Icona stella in base al voto-->

                            @if(@Model.Vote != null)
                            {
                                @for (int i = 0; i < @Model.Vote; i++)
                                {
                                    <i class="fas fa-star text-warning"></i>
                                }
                            }
                            else
                            {
                                <p>Nessun voto</p>
                            }

                        </div>
                    </div>
                    <!--UserActivity Creazione-->
                    <div class="d-flex pt-3">
                        <!--Id Creazione-->
                        <div class="col-4 d-flex ">
                            <div class="fw-bold me-2">
                                @Html.DisplayNameFor(model => model.CretedById):
                            </div>
                            <div>
                                @Html.DisplayFor(model => model.CretedById)
                            </div>
                        </div>
                        <!--Data Creazione-->
                        <div class="col-6 d-flex">
                            <div class="fw-bold me-2">
                                @Html.DisplayNameFor(model => model.CretedOn):
                            </div>
                            <div>
                                @Html.DisplayFor(model => model.CretedOn)
                            </div>
                        </div>
                    </div>
                    <!--UserActivity Modifica-->
                    <div class="d-flex pt-3">
                        <!--Id Modifica-->
                        <div class="col-4 d-flex">
                            <div class="fw-bold me-2">
                                @Html.DisplayNameFor(model => model.ModifiedById):
                            </div>
                            <div>
                                @Html.DisplayFor(model => model.ModifiedById)
                            </div>
                        </div>
                        <!--Data Modifica-->
                        <div class="col-6 d-flex">
                            <div class="fw-bold me-2">
                                @Html.DisplayNameFor(model => model.ModifiedOn):
                            </div>
                            <div>
                                @Html.DisplayFor(model => model.ModifiedOn)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--mappa-->
            <div class="col-6">
                <!--Visualizzazione della mappa LEAFLET-->
                <div id="map" style="width:100%; height:100%"></div> 
            </div>
        </div>
        
        

        <!--Bottoni rotte-->
        <div class="form-group pt-5">
            <div class="row">
                <!-- Modifica -->
                <div class="col-md-2 ">
                    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Modifica</a>
                </div>
                <!-- Torna all' Travels/INDEX -->
                <div class="col-md-2 ">
                    <a asp-action="Index" class="btn btn-danger">Torna Alla lista</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/leaflet/leaflet.js"></script>
<script src="~/lib/leaflet/leaflet-src.min.js"></script>

<script>
    
    const map = L.map('map').setView([42.6631201, 14.3033775], 5);

    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        // maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);

    let jsModel = @Html.Raw(jsModel);
    // console.log(jsModel);

    let latitude = jsModel.Latitude / 10000000;
    let longitude = jsModel.Longitude / 10000000;

    L.marker([latitude, longitude]).addTo(map)
            .bindPopup(jsModel.Title)
            .openPopup();
    
</script>