@model IEnumerable<travel_app.Models.Stage>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista Tappe - Stages/Index</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Crea nuova tappa</a>
</p>

<div class="card">
    <!--Card Header -->
    <div class="card-header">
        <h3 class="card-title">Lista Tappe</h3>
    </div>
    <!--Card body -->
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        <!-- @Html.DisplayNameFor(model => model.Title)-->
                        Titolo
                    </th>
                    <!--
                    <th>
                    @Html.DisplayNameFor(model => model.Description)
                        Descrizione
                    </th>
                    -->
                    <!--
                    <th>
                    @Html.DisplayNameFor(model => model.Image)
                    </th>

                    <th>
                    @Html.DisplayNameFor(model => model.Note)
                    </th>
                    -->
                    <th>
                        <!--@Html.DisplayNameFor(model => model.Vote)-->
                        Voto
                    </th>
                    <th>
                        <!--@Html.DisplayNameFor(model => model.Date)-->
                        Data
                    </th>
                    <!--
                    <th>
                    @Html.DisplayNameFor(model => model.Latitude)
                    </th>
                    <th>
                    @Html.DisplayNameFor(model => model.Longitude)
                    </th>
                    -->
                    <th>
                        <!--@Html.DisplayNameFor(model => model.Travel)-->
                        Nome Viaggio
                    </th>
                    <th>
                        <!--@Html.DisplayNameFor(model => model.Completed)-->
                        Completata
                    </th>
                    <!--
                    <th>
                    @Html.DisplayNameFor(model => model.CretedById)
                    </th>
                    <th>
                    @Html.DisplayNameFor(model => model.CretedOn)
                    </th>
                    <th>
                    @Html.DisplayNameFor(model => model.ModifiedById)
                    </th>
                    <th>
                    @Html.DisplayNameFor(model => model.ModifiedOn)
                    </th>
                    -->
                    <th> azioni</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <!--
                        <td>
                        @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        -->
                        <!--
                        <td>
                        @Html.DisplayFor(modelItem => item.Image)
                        </td>
                        <td>
                        @Html.DisplayFor(modelItem => item.Note)
                        </td>
                            -->
                        <td>
                            <!--
                            @Html.DisplayFor(modelItem => item.Vote)
                            -->
                            @{
                                var vote = item.Vote; // Ottieni il valore del voto (numero)
                            }
                            @for (int i = 0; i < vote; i++)
                            {
                                <i class="fas fa-star text-warning"></i> <!-- Mostra un'icona stella per ogni voto -->
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Date)
                        </td>
                        <!--
                        <td>
                        @Html.DisplayFor(modelItem => item.Latitude)
                        </td>
                        <td>
                        @Html.DisplayFor(modelItem => item.Longitude)
                        </td>
                            -->
                        <td>
                            @Html.DisplayFor(modelItem => item.Travel.Title)
                        </td>
                        <td>
                            <!--
                            @Html.DisplayFor(modelItem => item.Completed)
                            -->
                            @{
                                var completed = item.Completed;
                            }
                            @if (completed == false)
                            {
                                <p class="text-danger">Non Completata</p>
                            }
                        </td>
                        <!--
                        <td>
                        @Html.DisplayFor(modelItem => item.CretedById)
                        </td>
                        <td>
                        @Html.DisplayFor(modelItem => item.CretedOn)
                        </td>
                        <td>
                        @Html.DisplayFor(modelItem => item.ModifiedById)
                        </td>
                        <td>
                        @Html.DisplayFor(modelItem => item.ModifiedOn)
                        </td>
                        -->
                        <td>
                            <div class="dropdown btn btn-warning">
                                <a class="dropdown-toggle text-dark" data-toggle="dropdown" href="#">
                                    Azioni <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-item">
                                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary"><i class="fa fa-wrench"></i> Modifica</a>
                                    </li>
                                    <li class="dropdown-divider"></li>
                                    <li class="dropdown-item">
                                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-warning"><i class="fa fa-eye"></i> Dettagli</a>
                                    </li>
                                    <li class="dropdown-divider"></li>
                                    <li class="dropdown-item">
                                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger"><i class="fa fa-trash"></i> Cancella</a>
                                    </li>
                                    <!--
                                    <li class="dropdown-divider"></li>
                                    <li class="dropdown-item">
                                        <a asp-action="ApproveLeave" asp-route-id="@item.Id" class="btn btn-primary"><i class="fa fa-check"></i> Approve</a>
                                    </li>
                                    <li class="dropdown-divider"></li>
                                    <li class="dropdown-item">
                                        <a asp-action="RejectLeave" asp-route-id="@item.Id" class="btn btn-danger"><i class="fa fa-xmark"></i> Reject</a>
                                    </li>
                                    -->
                                </ul>
                            </div>
                        </td>
                        <!--
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                        -->
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

