@model travel_app.Models.Travel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>


<div class="card">
    <!--Card body -->
    <div class="card-body">
        <h3>Sei sicuro di cancellare questo viaggio?</h3>
        <hr />
        <dl class="row">
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Title)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Title)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.StartDate)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.StartDate)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.EndDate)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.EndDate)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.CretedById)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.CretedById)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.CretedOn)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.CretedOn)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.ModifiedById)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.ModifiedById)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.ModifiedOn)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.ModifiedOn)
            </dd>
        </dl>
    
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <div class="row">
                <!-- Modifica -->
                <div class="col-md-2 ">
                    <input type="submit" value="Cancella" class="btn btn-danger" />
                </div>
                <!-- Torna all' Travels/INDEX -->
                <div class="col-md-2 ">
                    <a asp-action="Index" class="btn btn-primary">Torna Alla lista</a>
                </div>
            </div>
        
        </form>
    </div>
</div>
