@model IEnumerable<travel_app.Models.Travel>

@{
    ViewData["Title"] = "Lista Viaggi";
}

<h1>Lista Viaggi - Index</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Aggiungi nuovo viaggio</a>
</p>

<div class="card">
    <!--Card Header -->
    <div class="card-header">
        <h3 class="card-title">Lista Viaggi</h3>
    </div>
    <!--Card body -->
    <div class="card-body">
        <!--tabella viaggi-->

        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        <!--@Html.DisplayNameFor(model => model.Title)-->
                        
                        Titolo
                    </th>
                    <th>
                        <!--@Html.DisplayNameFor(model => model.Description)-->
                        
                        Descrizione
                    </th>
                    <th>
                        <!--@Html.DisplayNameFor(model => model.Description)-->
                        Tappe
                    </th>
                    <th>
                        <!--@Html.DisplayNameFor(model => model.StartDate)-->
                        
                        Inzio Viaggio
                    </th>
                    <th>
                        <!--@Html.DisplayNameFor(model => model.EndDate)-->
                        
                        Fine Viaggio
                    </th>
                    <!-- UserActivity -->
                    <!--
                    <th>
                        @Html.DisplayNameFor(model => model.CretedById)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CretedOn)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ModifiedById)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ModifiedOn)
                    </th>
                    -->
                    
                    <!--Pulsanti crud -->
                    <th>
                        Modifica
                    </th>
                    <th>
                        Dettaglio
                    </th>
                    <th>
                        Cancella
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model) {
                        
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Title)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                            @if (item.Stages.Count > 0)
                            {
                            @Html.DisplayFor(modelItem => item.Stages.Count)
                            }
                            else
                            {
                                <p>zero tappe</p>
                            }

                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.StartDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EndDate)
                            </td>
                            <!--UserActivity-->
                            <!--
                            <td>
                                @Html.DisplayFor(modelItem => item.CretedById)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CretedOn)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ModifiedById)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ModifiedOn)
                            </td>
                            -->
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary"><i class="fa fa-wrench"></i> Modifica</a>
                            <td>
                                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-warning"><i class="fa fa-eye"></i> Dettaglio</a>
                            </td>
                            <td>
                                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger"><i class="fa fa-trash"></i> Cancella</a>
                            </td>
                        </tr>
                }
            </tbody>
        </table>
    </div>
</div>