@model IEnumerable<travel_app.Models.Travel>

@{
    ViewData["Title"] = "Lista Viaggi";
}
<!-- Route Create -->
<div class="py-2">
    <a asp-action="Create" class="btn btn-success">Aggiungi nuovo viaggio</a>
</div>
<!-- Card -->
<div class="card">
    <!--Card Header -->
    <div class="card-header">
        <h2 class="">Lista Viaggi</h2>   
    </div>
    <!--Card body -->
    <div class="card-body">
        <!--tabella viaggi-->

        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <!--TITLE-->
                    <th>
                        Titolo
                    </th>
                    <!--DESCRIPTION-->
                    <th>
                        Descrizione
                    </th>
                    <!--STAGES-->
                    <th>
                        Tappe
                    </th>
                    <!--STARTDATE-->
                    <th>
                        Inzio Viaggio
                    </th>
                    <!--ENDDATE-->
                    <th>
                        Fine Viaggio
                    </th>        
                    <!--Pulsanti crud -->
                    <th>
                       Azioni
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model) {
                        
                        <tr>
                            <!--TITLE-->
                            <td>
                                @Html.DisplayFor(modelItem => item.Title)
                            </td>
                            <!--DESCRIPTION-->
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <!--STAGES-->
                            <td>
                            @if (item.Stages.Count > 0)
                            {
                            @Html.DisplayFor(modelItem => item.Stages.Count)
                            }
                            else
                            {
                                <p>zero tappe</p>
                            }

                            </td>
                            <!--STARTDATE-->
                            <td>
                                @Html.DisplayFor(modelItem => item.StartDate)
                            </td>
                            <!--ENDDATE-->
                            <td>
                                @Html.DisplayFor(modelItem => item.EndDate)
                            </td>
                            <!--CRUD EDIT/ DETAILS / DELETE-->
                            <td>
                                <div class="dropdown btn btn-warning">
                                    <a class="dropdown-toggle text-dark" data-toggle="dropdown" href="#">
                                        Azioni <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="dropdown-item">
                                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary"><i class="fa fa-wrench"></i> Modifica</a>
                                        </li>
                                        <li class="dropdown-divider"></li>
                                        <li class="dropdown-item">
                                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-warning"><i class="fa fa-eye"></i> Dettagli</a>
                                        </li>
                                        <li class="dropdown-divider"></li>
                                        <li class="dropdown-item">
                                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger"><i class="fa fa-trash"></i> Cancella</a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                }
            </tbody>
        </table>
    </div>
</div>